body{
    background-color:#1a1a1a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #1a1a1a;
    padding-top: 33px;
    padding-bottom: 33px;
}
.header-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 55px;
}
.header-logo {
    margin-right: auto;
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 46px;
}

.nav-link {
    font-family: Rubik , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.header-btn {
    border: 2px solid #FFFFFF4D;
    padding: 15px 35px;
    border-radius: 100px;
    font-family: Rubik , sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    background: #03030480;
    color: white;
    
}
.contact {
}
.contact-container {
   width: 1440px; 
   margin-left: auto;
   margin-right: auto;
}
.contact-h1 {
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 231px;
    margin-left: 142px;
    color:#FFFFFF ;
}
.contact-p {
    font-family: Rubik , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #949494;
    margin-left: 142px;
    margin-top: 10px;
}
.contact-hr {
    margin-left: 142px;
    margin-right: 150px;
    border-bottom: #949494;
    margin-top: 91px;
}
.get {
}
.get-container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.get-h1 {
    width: 436px;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 142px;
    color: #FFFFFF;
    margin-top: 153px;
}
.img {
}
.img-container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

}
.img-img {
    margin-left: 142px;
    margin-top: 115px;
    object-fit: cover;
}
.img-a1 {
    margin-left: 281px;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.img-a2 {
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.img-a3 {
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
   
    color: #FFFFFF;
    
}
.img-div {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.touch{

    background-color: #131313;
}
.touch-container {
    margin-top: 119.28px;
  
    padding-top: 100px;
    padding-bottom: 83px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
   border-bottom: 83px;
}
.touch-h1 {
    color:#FF9142;

    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
    margin-left: 510px;
    margin-right: 544px;      
}
.touch-a {
    color:  #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-left: 258px;
    margin-right: 274px;
    margin-top: 23px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom: 5px;
}
.touch-img{
    margin-top: 207px;
    margin-left: 150px;
    
    
}

.touch-p{
    margin-top: 193px;
    
    margin-left: 247px;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}
.tauch-h1{
    margin-top: 100px;
}
.touchdiv{
    display: flex;

}
.touch-a2{
    color:white;
    margin-top: 195px;
    margin-left: 105px;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    list-style: none;
}
.ul-div{
    display: flex; 
    gap: 9.65px; 
    list-style: none;
    margin-left: 105.5px; 
    margin-top: 16px;
}
.ul-li-div{
    margin-top: 195px;
    margin-bottom: 99px;
}
.div-container{

    height: 0.5px;
    margin-left: 144px;
    margin-right: 143px;
    margin-bottom: 36px;
    border-bottom: #131313;
}
.a{
    color: white;
    font-family: Syne , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
 

}
.toucha-3{
    text-align: center;
    
}
.form {
    padding-top: 153px;
    padding-bottom: 115px;
    background-color: #1a1a1a;
}
.form-container {
    min-width: 1148px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.form-title {
    font-family:sans-serif;
    font-weight: 700;
    font-style: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    max-width: 356px;
    margin-left: 142px;
    
    font-family: Syne , sans-serif;
font-weight: 700;
font-size: 64px;
line-height: 100%;
letter-spacing: 0%;
 
}
.form-info {
    display: grid;
    gap: 50px;
}
.form-inp::placeholder {
    color: white;
}
.form-inp {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    background-color: #1a1a1a;
    padding-bottom: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #949494;
}
.form-textarea::placeholder{
    color: white;
}
.form-textarea{
    font-family: Rubik , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    background-color: #1a1a1a;
    padding-top: 50px;
    padding-bottom: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #949494;
}
.form-textarea{
    resize: none;
}

.form-btn {
    max-width: 158px;
    background-color: #ff9142;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: Rubik , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 100px;
}
.form-container-2 {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.form-container-3 {
    margin-right: 150px;
}